.section-nav#prod
    section#buy.section-slider
      .container-fixed
        h2.title(style="margin-bottom: 0;") Популярные продукты<sup>*</sup>
        p(style="margin-bottom: 40px;").text-center.pink Выбери подходящий тебе продукт, добавь в калькулятор, узнай свою выгоду.
        h2.title Духовые шкафы
        #slider-1.owl-carousel.slider
          .slider__item(data-productID="1" data-type="1")
            .slider__image(style="background-image: url(uploads/OPEB2650R.jpg);")
            h5.slider__title Electrolux OPEB 2650 R
            .slider__desc
              ul
                li CombiSteam с аксессуаром-пароваркой
                li Классический дизайн
                li Профессиональный режим Горячий пар
                li Телескопические направляющие
                li Плавный доводчик двери
                li 3 стекла
            .slider__price(data-price="77990") 77 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.mvideo.ru/products/elektricheskii-duhovoi-shkaf-electrolux-opeb2650r-20036275" target="_blank").slider__seller mvideo.ru
          .slider__item(data-productID="2" data-type="1")
            .slider__image(style="background-image: url(uploads/OPEB2650C.jpg);")
            h5.slider__title Electrolux OPEB 2650 C
            .slider__desc
              ul
                li CombiSteam с аксессуаром-пароваркой
                li Классический дизайн
                li Профессиональный режим Горячий пар
                li Телескопические направляющие
                li Плавный доводчик двери
                li 3 стекла
            .slider__price(data-price="77990") 77 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.mvideo.ru/products/elektricheskii-duhovoi-shkaf-electrolux-opeb2650c-20036274" target="_blank").slider__seller mvideo.ru
          .slider__item(data-productID="3" data-type="1")
            .slider__image(style="background-image: url(uploads/OPEB2650B.jpg);")
            h5.slider__title Electrolux OPEB 2650 B
            .slider__desc
              ul
                li CombiSteam с аксессуаром-пароваркой
                li Классический дизайн
                li Профессиональный режим Горячий пар
                li Телескопические направляющие
                li Плавный доводчик двери
                li 3 стекла
            .slider__price(data-price="77990") 77 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/built-in/electric_ovens/electrolux/opeb2650b/kaluga/" target="_blank").slider__seller holodilnik.ru
          .slider__item(data-productID="4" data-type="1")
            .slider__image(style="background-image: url(uploads/OPEB2650V.jpg);")
            h5.slider__title Electrolux OPEB 2650 V
            .slider__desc
              ul
                li CombiSteam с аксессуаром-пароваркой
                li Классический дизайн
                li Профессиональный режим Горячий пар
                li Телескопические направляющие
                li Плавный доводчик двери
                li 3 стекла
            .slider__price(data-price="77990") 77 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/built-in/electric_ovens/electrolux/opeb2650v/kaluga/" target="_blank").slider__seller holodilnik.ru
          .slider__item(data-productID="5" data-type="1")
            .slider__image(style="background-image: url(uploads/EOB53434AX.jpg);")
            h5.slider__title Electrolux EOB 53434 AX
            .slider__desc
              ul
                li Режим PlusSteam
                li Телескопические направляющие
                li Нержавейка с покрытием против отпечатков пальцев
                li Таймер на отключение, отложенный старт
                li Утапливаемые регуляторы
            .slider__price(data-price="37490") 37 490 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="https://www.003.ru/0031313511/duhovoj_shkaf_electrolux_eob53434ax" target="_blank").slider__seller 003.ru
          .slider__item(data-productID="6" data-type="1")
            .slider__image(style="background-image: url(uploads/OPEB6641X.jpg);")
            h5.slider__title Electrolux OPEB 6641 X
            .slider__desc
              ul
                li CombiSteam
                li Профессиональный режим Горячий пар
                li Телескопические направляющие
                li Утапливаемые регуляторы
                li Термощуп
                li Нержавейка с покрытием против отпечатков пальцев
            .slider__price(data-price="48 490") 48 490 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="https://www.003.ru/0031338450/duhovoj_shkaf_electrolux_opeb_6641_x" target="_blank").slider__seller 003.ru
          .slider__item(data-productID="7" data-type="1")
            .slider__image(style="background-image: url(uploads/EOB98851AX.jpg);")
            h5.slider__title Electrolux EOB 98851 AX
            .slider__desc
              ul
                li CombiSteamDeluxe
                li 3 профессиональных режима пара
                li Режим Пароварка
                li Телескопические направляющие
                li Плавный доводчик двери
                li 100 автоматических программ
                li Термощуп
                li Нержавейка с покрытием против отпечатков пальцев
            .slider__price(data-price="113990") 113 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- //- a(href="https://market.yandex.ru/product--electrolux-eob-98851-ax/10776328?canonical=electrolux-eob-98851-ax&productId=10776328&lr=213" target="_blank").slider__seller market.yandex.ru
          .slider__item(data-productID="8" data-type="1")
            .slider__image(style="background-image: url(uploads/OPEB9951Z.jpg);")
            h5.slider__title Electrolux OPEB 9951 Z
            .slider__desc
              ul
                li CombiSteamPro
                li 6 профессиональных режима приготовления с паром
                li Режим Пароварка
                li Режим Су-вид
                li 305 автоматических программ
                li Телескопические направляющие
                li Термощуп
            .slider__price(data-price="93960") 93 960 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://electrolux-rus.ru/duhovie_shkafi_elektricheskie_electrolux/electrolux_opeb9951z" target="_blank").slider__seller electrolux-rus.ru
          .slider__item(data-productID="9" data-type="1")
            .slider__image(style="background-image: url(uploads/EZB52410AX.jpg);")
            h5.slider__title Electrolux EZB 52410 AX
            .slider__desc
              ul
                li 3D-конвекция со смещенным вентилятором
                li Утапливаемые регуляторы
                li Функция таймера
                li Гриль большой мощности
                li Нержавейка с покрытием против отпечатков пальцев
            .slider__price(data-price="26990") 26 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="https://www.mediamarkt.ru/item/1293629/electrolux-ezb52410ax-duhovoj-shkaf?_openstat=bWFya2V0LnlhbmRleC5ydTvQlNGD0YXQvtCy0L7QuSDRiNC60LDRhCBFbGVjdHJvbHV4IEVaQjUyNDEwQVg7aXhwbmExaVM2dHY1b2FpOHVWQ20tdzs&frommarket=https%3A//market.yandex.ru/product/11873335/offers%3Fhid%3D90580%26lr%3D213%26track%3Dtop5&location=shop_R002&utm_campaign=yandex_market&utm_content=1293629&utm_medium=cpc&utm_source=yandexmarket&utm_term=kitc_duh_Electrolux_EZB52410AX&ymclid=806157351571207796100007" target="_blank").slider__seller mediamarkt.ru
          .slider__item(data-productID="10" data-type="1")
            .slider__image(style="background-image: url(uploads/EOA95551BX.jpg);")
            h5.slider__title Electrolux EOA 95551 BX
            .slider__desc
              ul
                li Каталитическая самоочистка
                li Удивительно равномерное пригототвление
                li Телескопические направляющие
                li Плавный доводчик двери
                li Термощуп
                li Нержавейка с покрытием против отпечатков пальцев
            .slider__price(data-price="47990") 47 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/built-in/electric_ovens/electrolux/eoa95551bx/kaluga/" target="_blank").slider__seller holodilnik.ru
        .text-center
          button(data-button="1").addToCalc.button.button-icon--star Добавить в калькулятор
    section.section-slider
      .container-fixed
        h2.title Варочные поверхности
        #slider-2.owl-carousel.slider
          .slider__item(data-productID="11" data-type="2")
            .slider__image(style="background-image: url(uploads/EHD96740FK.png);")
            h5.slider__title Electrolux EHD 96740 FK
            .slider__desc
              ul
                li Серия InfinitePure – управление и зоны нагрева становятся видны только после включения.
                li Индукционный нагрев
                li Функция «Бридж» превращает две обычные конфорки в одну большую.
                li Слайдерное управление мощностью
                li Мгновенный разогрев посуды до высокой температуры 
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="51790") 51 790 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://electrolux-rus.ru/varochnie_paneli_elektricheskie_electrolux/electrolux_ehd96740fk?_openstat=bWFya2V0LnlhbmRleC5ydTvQktCw0YDQvtGH0L3QsNGPINC_0LDQvdC10LvRjCDRjdC70LXQutGC0YDQuNGH0LXRgdC60LDRjyBFbGVjdHJvbHV4IEVIRDk2NzQwRks7M0NUVVZsY3dXVGNFYlQ3T2c1aks1Zzs&marketplace=yandex.market&utm_source=yandex.market&ymclid=806168538216618849900015" target="_blank").slider__seller electrolux-rus.ru
          .slider__item(data-productID="12" data-type="2")
            .slider__image(style="background-image: url(uploads/EHD98740FK.png);")
            h5.slider__title Electrolux EHD 98740 FK
            .slider__desc
              ul
                li Серия InfinitePure – управление и зоны нагрева становятся видны только после включения.
                li Ширина 80 см обеспечивает удобство приготовления
                li Индукционный нагрев
                li Функция «Бридж» превращает две обычные конфорки в одну большую.
                li Слайдерное управление мощностью
                li Мгновенный разогрев посуды до высокой температуры 
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="56238") 56 238 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://electrolux-rus.ru/varochnie_paneli_elektricheskie_electrolux/electrolux_ehd98740fk?_openstat=bWFya2V0LnlhbmRleC5ydTvQktCw0YDQvtGH0L3QsNGPINC_0LDQvdC10LvRjCDRjdC70LXQutGC0YDQuNGH0LXRgdC60LDRjyBFbGVjdHJvbHV4IEVIRDk4NzQwRks7WW1qVF9rT1VFX1BvdVVPX0ExeXlMdzs&marketplace=yandex.market&utm_source=yandex.market&ymclid=806167460914338687200016" target="_blank").slider__seller electrolux-rus.ru
          .slider__item(data-productID="13" data-type="2")
            .slider__image(style="background-image: url(uploads/EHH56340FK.png);")
            h5.slider__title Electrolux EHH 56340 FK
            .slider__desc
              ul
                li Индукционный нагрев
                li Сенсорное управление мощностью
                li Мгновенный разогрев посуды до высокой температуры 
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="37 490") 37 490 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="https://www.mediamarkt.ru/item/1216572/electrolux-ehh56340fk-varochnaya-panel?location=shop_R002&gclid=Cj0KEQiAsf_BBRDMpoOHw4aSq4QBEiQAPm7DL-yT_8OeQ7hF8TqlFkkNa01Ph4yAShOv4Ck55W_XDR8aApnU8P8HAQ" target="_blank").slider__seller mediamarkt.ru
          .slider__item(data-productID="14" data-type="2")
            .slider__image(style="background-image: url(uploads/EHH6340FOK.png);")
            h5.slider__title Electrolux EHH 6340 FOK
            .slider__desc
              ul
                li Индукционный нагрев
                li Сенсорное управление мощностью
                li Мгновенный разогрев посуды до высокой температуры 
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="37490") 37490 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.techport.ru/katalog/products/vstraivaemaja-bytovaja-tehnika/indukcionnye-varochnye-paneli/elektricheskaja-varochnaja-panel-electrolux-ehh-117737?city=MSK&gclid=Cj0KEQiAsf_BBRDMpoOHw4aSq4QBEiQAPm7DL94a5KesnhvMjmSJEgw2TgwaOHA-l57a6-wiWKB5FKgaAu6_8P8HAQ" target="_blank").slider__seller techport.ru    
          .slider__item(data-productID="15" data-type="2")
            .slider__image(style="background-image: url(uploads/GPE363RBK.png);")
            h5.slider__title Electrolux GPE 363 RBK
            .slider__desc
              ul
                li Классический дизайн с фурнитурой цвета «Латунь»
                li Газ на стекле
                li Горелки VerticalFlame
                li Мощная горелка TripleCrown
                li Надежные чугунные держатели
            .slider__price(data-price="29990") 29 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://electrolux-rus.ru/varochnie_paneli_gazovie_electrolux/electrolux_gpe363rbk?_openstat=bWFya2V0LnlhbmRleC5ydTvQktCw0YDQvtGH0L3QsNGPINC_0LDQvdC10LvRjCDQs9Cw0LfQvtCy0LDRjyBFbGVjdHJvbHV4IEdQRTM2M1JCSzszdHRIZS1qLVdjdnZVbjRNZTVCbEJnOw&marketplace=yandex.market&utm_source=yandex.market&ymclid=806130344905321923300004" target="_blank").slider__seller electrolux-rus.ru
          .slider__item(data-productID="16" data-type="2")
            .slider__image(style="background-image: url(uploads/GPE363RBV.png);")
            h5.slider__title Electrolux GPE 363 RBV
            .slider__desc
              ul
                li Классический дизайн с фурнитурой цвета «Латунь»
                li Газ на стекле
                li Горелки VerticalFlame
                li Мощная горелка TripleCrown
                li Надежные чугунные держатели
            .slider__price(data-price="29990") 29 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.technopark.ru/varochnaya-poverhnost-electrolux-gpe363rbv/?frommarket=http%3A//market.yandex.ru/partner&utm_campaign=2&utm_content=903&utm_medium=cpc&utm_source=yandex_market&utm_term=68011&ymclid=806129496571063893800001" target="_blank").slider__seller technopark.ru
          .slider__item(data-productID="17" data-type="2")
            .slider__image(style="background-image: url(uploads/IPE644RBC.png);")
            h5.slider__title Electrolux IPE 644 RBC
            .slider__desc
              ul
                li Классический дизайн
                li Индукционный нагрев
                li Сенсорное управление мощностью
                li Мгновенный разогрев посуды до высокой температуры 
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="35990") 35 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/built-in/electrical_cooktops/electrolux/ipe644rbc/kaluga/" target="_blank").slider__seller holodilnik.ru
          .slider__item(data-productID="18" data-type="2")
            .slider__image(style="background-image: url(uploads/CPE644RBC.png);")
            h5.slider__title Electrolux CPE 644 RBC
            .slider__desc
              ul
                li Классический дизайн
                li Мгновенно нагревающиеся конфорки HiLight
                li Зоны расширения для большой посуды и утятницы
                li Сенсорное управление мощностью
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="24990") 24 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/built-in/electrical_cooktops/electrolux/cpe644rbc/kaluga/" target="_blank").slider__seller holodilnik.ru
          .slider__item(data-productID="19" data-type="2")
            .slider__image(style="background-image: url(uploads/CPE644RCC.png);")
            h5.slider__title Electrolux CPE 644 RCC
            .slider__desc
              ul
                li Классический дизайн
                li Мгновенно нагревающиеся конфорки HiLight
                li Зоны расширения для большой посуды и утятницы
                li Сенсорное управление мощностью
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="24990") 24 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/built-in/electrical_cooktops/electrolux/cpe644rcc/kaluga/" target="_blank").slider__seller holodilnik.ru
          .slider__item(data-productID="20" data-type="2")
            .slider__image(style="background-image: url(uploads/IPE644RCC.png);")
            h5.slider__title Electrolux IPE 644 RCC
            .slider__desc
              ul
                li Классический дизайн
                li Индукционный нагрев
                li Сенсорное управление мощностью
                li Мгновенный разогрев посуды до высокой температуры 
                li Функция Stop+Go позволяет сделать паузу в приготовлении
            .slider__price(data-price="35990") 35 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.mvideo.ru/products/vstraivaemaya-indukcionnaya-panel-electrolux-ipe644rcc-20036188" target="_blank").slider__seller mvideo.ru
        .text-center
          button(data-button="2").addToCalc.button.button-icon--star Добавить в калькулятор
    section.section-slider
      .container-fixed
        h2.title Посудомоечные машины
        #slider-3.owl-carousel.slider
          .slider__item(data-productID="21" data-type="3")
            .slider__image(style="background-image: url(uploads/ESL94200LO.png);")
            h5.slider__title Electrolux ESL 94200 LO
            .slider__desc
              ul
                li Ширина – 45 см
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Интенсивная программа
                li Полная защита от протечек
            .slider__price(data-price="33990") 33 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="https://www.003.ru/0031273628/posudomoechnaja_mashina_vstraivaemaja_electrolux_esl_94200_lo" target="_blank").slider__seller 003.ru
          .slider__item(data-productID="22" data-type="3")
            .slider__image(style="background-image: url(uploads/ESL94201LO.png);")
            h5.slider__title Electrolux ESL 94201 LO
            .slider__desc
              ul
                li Ширина – 45 см
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Интенсивная программа
                li Полная защита от протечек
            .slider__price(data-price="23200") 23 200 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.mvideo.ru/products/vstraivaemaya-posudomoechnaya-mashina-45-sm-electrolux-esl94201lo-20029861" target="_blank").slider__seller mvideo.ru
          .slider__item(data-productID="23" data-type="3")
            .slider__image(style="background-image: url(uploads/ESL94300LA.png);")
            h5.slider__title Electrolux ESL 94300 LA
            .slider__desc
              ul
                li Ширина – 45 см
                li Автопрограмма AutoFlex 45-70⁰
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Интенсивная программа
                li Функция мойки с таблетками
                li Полная защита от протечек
            .slider__price(data-price="22366") 22 366 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.mvideo.ru/products/vstraivaemaya-posudomoechnaya-mashina-45-sm-electrolux-esl94300la-20030229" target="_blank").slider__seller mvideo.ru
          .slider__item(data-productID="24" data-type="3")
            .slider__image(style="background-image: url(uploads/ESL9450LO.png);")
            h5.slider__title Electrolux ESL 9450 LO
            .slider__desc
              ul
                li Ширина – 45 см
                li Автопрограмма AutoFlex 45-70⁰
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Луч на полу
                li Функция мойки с таблетками
                li Полная защита от протечек
            .slider__price(data-price="38490") 38 490 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/built-in/full_dishwashers/electrolux/esl_9450_lo/kaluga/?search3=Electrolux%20ESL%209450%20LO" target="_blank").slider__seller holodilnik.ru
          .slider__item(data-productID="25" data-type="3")
            .slider__image(style="background-image: url(uploads/ESL95201LO.png);")
            h5.slider__title Electrolux ESL 95201 LO
            .slider__desc
              ul
                li Ширина – 60 см
                li Загрузка - 13 комплектов
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Интенсивная программа
                li Полная защита от протечек
            .slider__price(data-price="33990") 33 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://electrolux-rus.ru/posudomoechnie_mashini_shirokie_electrolux/electrolux_esl_95201_lo" target="_blank").slider__seller electrolux-rus.ru
          .slider__item(data-productID="26" data-type="3")
            .slider__image(style="background-image: url(uploads/ESF9420LOW.png);")
            h5.slider__title Electrolux ESF 9420 LOW
            .slider__desc
              ul
                li Ширина - 45 см
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Интенсивная программа
                li Полная защита от протечек
            .slider__price(data-price="19990") 19 990 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.eldorado.ru/cat/detail/71109991/" target="_blank").slider__seller eldorado.ru
          .slider__item(data-productID="27" data-type="3")
            .slider__image(style="background-image: url(uploads/ESF9421LOW.png);")
            h5.slider__title Electrolux ESF 9421 LOW
            .slider__desc
              ul
                li Ширина - 45 см
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Интенсивная программа
                li Полная защита от протечек
            .slider__price(data-price="20921") 20 921 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.mvideo.ru/products/posudomoechnaya-mashina-45-sm-electrolux-esf9421low-20029866" target="_blank").slider__seller mvideo.ru
          .slider__item(data-productID="28" data-type="3")
            .slider__image(style="background-image: url(uploads/ESF9451LOW.png);")
            h5.slider__title Electrolux ESF 9451 LOW
            .slider__desc
              ul
                li Ширина – 45 см
                li Автопрограмма AutoFlex 45-70⁰
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Функция мойки с таблетками
                li Полная защита от протечек
            .slider__price(data-price="26170") 26170 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.eldorado.ru/cat/detail/71109990/" target="_blank").slider__seller eldorado.ru
          .slider__item(data-productID="29" data-type="3")
            .slider__image(style="background-image: url(uploads/ESF9450LOW.png);")
            h5.slider__title Electrolux ESF 9450 LOW
            .slider__desc
              ul
                li Ширина – 45 см
                li Автопрограмма AutoFlex 45-70⁰
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Функция мойки с таблетками
                li Полная защита от протечек
            .slider__price(data-price="24090") 24 090 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.mvideo.ru/products/posudomoechnaya-mashina-45-sm-electrolux-esf9450low-20030272" target="_blank").slider__seller mvideo.ru
          .slider__item(data-productID="30" data-type="3")
            .slider__image(style="background-image: url(uploads/ESF9450LOX.png);")
            h5.slider__title Electrolux ESF 9450 LOX
            .slider__desc
              ul
                li Ширина – 45 см
                li Отделка из нержавеющей стали с покрытием от отпечатков пальцев
                li Автопрограмма AutoFlex 45-70⁰
                li Функция отсрочки старта.
                li Быстрая программа 30 минут
                li Функция мойки с таблетками
                li Полная защита от протечек
            .slider__price(data-price="33989") 33 989 руб.
            .slider__helper Рекомендованная<br />розничная цена
            //- a(href="http://www.holodilnik.ru/washers/dishwashers_machines/electrolux/esf9450lox/kaluga/" target="_blank").slider__seller holodilnik.ru
        .text-center
          button(data-button="3").addToCalc.button.button-icon--star Добавить в калькулятор
      p.text-center(style="margin-top: 30px;") <sup>*</sup>в акции участвует вся техника Electrolux. Полный перечень можно найти у наших 
        a(href="#partners") партнеров