section#partners.section-nav.section-partners
    .container-fixed
      h2.title Наши партнеры
      .input-set
            select.chosen-select#partnersList(name="modelOne" data-placeholder="Партнеры")
                option
<<<<<<< HEAD
                option(val="") М.Видео 
                option(val="") Эльдорадо 
                option(val="") ММС 
                option(val="") Техносила 
                option(val="") Стильные кухни 
                option(val="") Салон Техноторг 
                option(val="") Мороз и кофе 
                option(val="") Амадеус 
                option(val="") Памира 
                option(val="") electrolux-rus/кухнисити 
                option(val="") Хофф 
                option(val="") Кухнисити 
                option(val="") Архиформ 
                option(val="") Холодильник 
                option(val="") Electrolux-shop.ru 
                option(val="") 003.RU 
                option(val="") Реванш 
                option(val="") Домотехника 
                option(val="") ТК "Дружба" 
                option(val="") Поиск 
                option(val="") Центр 
                option(val="") RBT.RU 
                option(val="") 5 Элемент 
                option(val="") Норд 
                option(val="") Домо 
                option(val="") ТЕХНО 
                option(val="") Юлмарт 
                option(val="") Baltmaximus 
                option(val="") Технопарк 
                option(val="") Техпорт 
                option(val="") Citilink.ru 
                option(val="") Astrade 
                option(val="") RayBT.ru 
                option(val="") Hedway 
                option(val="") ДНС 
                option(val="") ДНС 
                option(val="") ДНС 
                option(val="") Мебельная Фабрика Мария 
                option(val="") Кухонный Двор
      #slider-4.owl-carousel.slider-image.section-partners__logotypes
        - var i = 1;
        while i < 32
          a.section-partners__logotype
            img(src="images/logos/#{i++}.png", alt="")
=======
                option(val="http://www.mvideo.ru") М.Видео 
                option(val="http://www.eldorado.ru") Эльдорадо 
                option(val="http://www.mediamarkt.ru") ММС 
                option(val="http://www.tehnosila.ru/") Техносила 
                option(val="http://www.stilkuhni.ru/") Стильные кухни 
                option(val="http://www.салон-техноторг.рф") Салон Техноторг 
                option(val="http://www.morozkofe.ru") Мороз и кофе 
                option(val="http://amadeus-bt.ru/") Амадеус 
                option(val="http://www.pamira.ru/") Памира 
                option(val="http://www.electrolux-rus.ru") electrolux-rus/кухнисити 
                option(val="http://hoff.ru/") Хофф 
                option(val="http://www.kuhnicity.ru/") Кухнисити 
                option(val="http://www.archi-form.ru/") Архиформ 
                option(val="http://www.holodilnik.ru") Холодильник 
                option(val="http://electrolux-shop.ru/") Electrolux-shop.ru 
                option(val="http://www.003.ru/") 003.RU 
                option(val="http://revansh.info") Реванш 
                option(val="http://Domotekhnika.ru") Домотехника 
                option(val="") ТК "Дружба" 
                option(val="http://www.poiskhome.ru") Поиск 
                option(val="http://www.corpcentre.ru") Центр 
                option(val="http://www.rbt.ru") RBT.RU 
                option(val="http://5element.su/") 5 Элемент 
                option(val="http://www.nord24.ru/") Норд 
                option(val="http://DOMO.ru") Домо 
                option(val="") ТЕХНО 
                option(val="http://www.ulmart.ru/") Юлмарт 
                option(val="http://www.balt-maximus.ru/") Baltmaximus 
                option(val="http://www.technopark.ru") Технопарк 
                option(val="http://www.techport.ru/") Техпорт 
                option(val="http://www.citilink.ru/") Citilink.ru 
                option(val="http://www.astrade.org/") Astrade 
                option(val="http://raybt.ru") RayBT.ru 
                option(val="http://tehnokon.ru/") Hedway 
                option(val="http://www.dns-shop.ru") www.dns-shop.ru
                option(val="http://technopoint.ru") www.technopoint.ru
                option(val="http://www.frau-technica.ru") www.frau-technica.ru
                option(val="http://www.marya.ru") Мебельная Фабрика Мария 
                option(val="http://www.kuxni.net") Кухонный Двор
      #slider-4.owl-carousel.slider-image.section-partners__logotypes
          a.section-partners__logotype(target="_blank" href="http://www.technopark.ru")
            img(src="images/logos/26.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.mvideo.ru")
            img(src="images/logos/4.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.eldorado.ru")
            img(src="images/logos/13.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.mediamarkt.ru")
            img(src="images/logos/32.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.tehnosila.ru/")
            img(src="images/logos/18.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.stilkuhni.ru/")
            img(src="images/logos/17.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.салон-техноторг.рф")
            img(src="images/logos/19.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.morozkofe.ru")
            img(src="images/logos/30.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://amadeus-bt.ru/")
            img(src="images/logos/31.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.pamira.ru/")
            img(src="images/logos/14.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.kuhnicity.ru")
            img(src="images/logos/10.png", alt="")
          a.section-partners__logotype(target="_blank" href="")
            img(src="images/logos/33.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.domo.ru")
            img(src="images/logos/34.jpg", alt="")
          a.section-partners__logotype(target="_blank" href="http://hoff.ru/")
            img(src="images/logos/22.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.archi-form.ru/")
            img(src="images/logos/5.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.holodilnik.ru")
            img(src="images/logos/27.png", alt="") 
          a.section-partners__logotype(target="_blank" href="http://www.003.ru/")
            img(src="images/logos/1.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://revansh.info")
            img(src="images/logos/28.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://Domotekhnika.ru")
            img(src="images/logos/9.png", alt="")
          //- a.section-partners__logotype(target="_blank" href="http://www.poiskhome.ru") Поиск 
          a.section-partners__logotype(target="_blank" href="http://www.corpcentre.ru")
            img(src="images/logos/2.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.rbt.ru")
            img(src="images/logos/29.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://5element.su/")
            img(src="images/logos/12.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.nord24.ru/")
            img(src="images/logos/3.png", alt="")
          //- a.section-partners__logotype(target="_blank" href="http://DOMO.ru") Домо 
          //- a.section-partners__logotype(target="_blank" href="") ТЕХНО 
          a.section-partners__logotype(target="_blank" href="http://www.ulmart.ru/")
            img(src="images/logos/23.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.balt-maximus.ru/")
            img(src="images/logos/25.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.techport.ru/")
            img(src="images/logos/20.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.citilink.ru/")
            img(src="images/logos/16.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.astrade.org/")
            img(src="images/logos/6.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://raybt.ru")
            img(src="images/logos/15.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://tehnokon.ru/")
            img(src="images/logos/24.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.dns-shop.ru")
            img(src="images/logos/8.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://technopoint.ru")
            img(src="images/logos/7.png", alt="")
          a.section-partners__logotype(target="_blank" href="http://www.frau-technica.ru")
            img(src="images/logos/21.png", alt="")
          //- a.section-partners__logotype(target="_blank" href="http://www.marya.ru") Мебельная Фабрика Мария 
          //- a.section-partners__logotype(target="_blank" href="http://www.kuxni.net") Кухонный Двор
>>>>>>> 8901584e36d6a46a14b07fbde10077baaa5b2249
