extends ../layouts/main-page.jade

block title
  title Electrolux - Кабинет

block content
  div.affix(data-spy="affix" id="dot-nav")
    h4.affix__title Быстрый переход
    ul
      li(class="awesome-tooltip active" title="Главная")
        a(href="#home")
      li(class="awesome-tooltip" title="Выбери свой комплект")
        a(href="#calc")
      li(class="awesome-tooltip" title="Рассчитай свою выгоду")
        a(href="#own-calc")
      li(class="awesome-tooltip" title="Популярные продукты")
        a(href="#prod")
      li(class="awesome-tooltip" title="Наши партнеры")
        a(href="#partners")
  include ../layouts/header-two.jade
  #home.section-nav
    section.section-main.bg-cover(style="background-image: url(images/image.jpg);")
      .container-fixed
        h1.section-main__text-container
          .section-main__text-one Вернем
            .section-main__text-two <span>до </span>50%
          .section-main__text-three от стоимости<br />посудомоечной машины!
          .section-main__text-three(style="margin-top: 10px;") успейте до 31.01.2017
    section.section-map
      .container-fixed
        a.section-map__item(href="#buy" data-animation="slideInLeft")
          .section-map__icon
            i.icon-cart
          h3 Приобрети технику<br /><b>Electrolux</b>
        a.section-map__item(href="#" data-toggle="modal" data-target="#regModal" data-animation="zoomIn")
          .section-map__icon
            i.icon-pencil
          h3 Зарегистрируйся в<br />акции
        a.section-map__item(href="#" data-toggle="modal" data-target="#howItWork" data-animation="slideInRight")
          .section-map__icon
            i.icon-question
          h3 Как это работает
  section#calc.section-nav.section-calculate
    .container-fixed
      h2.title(style="margin-bottom: 0;") Выбери свой комплект
      p.text-center.pink Выберите товары, чтобы узнать свою выгоду
      .row
        .section-calculate__item.col-md-4
          .section-calculate__products.products
            .products__item(data-productID="1" data-name="Духовка" data-price="0" data-type="1")
              img(src="images/pic1.png", alt="")
            i.icon-plus
            .products__item(data-productID="7" data-name="Варочная панель" data-price="0" data-type="2")
              img(src="images/pic2.png", alt="")
            i.icon-plus
            .products__item(data-productID="9" data-name="Посудомоечная машина" data-price="0" data-type="3")
              img(src="images/pic3.png", alt="" )
          .section-calculate__text
            //- p При покупке комплекта духовки,<br />варочной панели и посудомоечной<br />машины <b>Electrolux</b>
          button.button Рассчитать выгоду
        .section-calculate__item.col-md-4
         .section-calculate__products.products
            .products__item(data-productID="1" data-name="Духовка" data-price="0" data-type="1")
              img(src="images/pic1.png", alt="")
            i.icon-plus
            .products__item(data-productID="7" data-name="Варочная панель" data-price="0" data-type="2")
              img(src="images/pic2.png", alt="")
          .section-calculate__text
            //- p При покупке комплекта духовки и<br />варочной панели <b>Electrolux</b>
          button.button Рассчитать выгоду
        .section-calculate__item.col-md-4
         .section-calculate__products.products
            .products__item(data-productID="9"  data-name="Посудомоечная машина" data-price="0" data-type="3")
              img(src="images/pic3.png", alt="")
          .section-calculate__text
            //- p При покупке посудомоечной<br />машины <b>Electrolux</b>
          button.button Рассчитать выгоду
  section#own-calc.section-nav.section-calculator
    .container-fixed
      h2.title(style="margin-bottom: 0;") Калькулятор выгоды<sup>*</sup>
      p.text-center.pink Введи стоимость выбранной техники,<br />и калькулятор автоматически рассчитает выгоду
      .section-calculator__calculator.row
        .col-md-8
          .section-calculator__item(data-type="1" data-name="Духовка")
            .section-calculator__prod
            .section-calculator__button
              button.button.addPosition Добавить<br />духовку
          .section-calculator__item(data-type="2" data-name="Варочная<br />панель")
            .section-calculator__prod
            .section-calculator__button
              button.button.addPosition Добавить<br />варочную<br />панель
          .section-calculator__item(data-type="3" data-name="Посудомоечная<br />машина")
            .section-calculator__prod
            .section-calculator__button
              button.button.addPosition Добавить<br />посудомоечную<br />машину
        .col-md-4
          .section-calculator__amount
            .section-calculator__amount-number 0
            .section-calculator__amount-text Ваша выгода
    .row
        .col-xs-12
          p.text-center <sup>*</sup>Онлайн Калькулятор является интерактивной опцией. Не является офертой.<br />В случае покупки техники со скидкой учитывается стоимость с вычетом скидки.
  include ../includes/goods.jade
  include ../includes/partners.jade
  .modal.how-it-work.fade#howItWork(tabindex="-1" role="dialog" aria-labelledby="regProducts")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") Назад
          .modal-logo
          h3.modal-title.text-center Как это работает?
        .modal-body
          .how-it-work__item
            .row
              .col-xs-12
                .section-calculate__item
                  .section-calculate__products.products
                    .products__item
                      img(src="images/pic1.png", alt="")
                    i.icon-plus
                    .products__item
                      img(src="images/pic2.png", alt="")
                    i.icon-plus
                    .products__item
                      img(src="images/pic3.png", alt="" )
                  .section-calculate__text
                    p При покупке комплекта духовки,<br />варочной панели и посудомоечной<br />машины <b>Electrolux</b>
            .row
              .col-md-4
                h5.how-it-work__title До 40 000 руб. включительно
                .how-it-work__text Приз = 30% от стоимости<br />посудомоечной машины (по чеку)
              .col-md-4
                h5.how-it-work__title от 40 001 до 80 000 руб.
                .how-it-work__text Приз = 40% от стоимости<br />посудомоечной машины (по чеку)
              .col-md-4
                h5.how-it-work__title более либо равно 80 001 руб.
                .how-it-work__text Приз = 50% от стоимости<br />посудомоечной машины (по чеку)
          .how-it-work__item
            .row
              .col-xs-12
                .section-calculate__item
                  .section-calculate__products.products
                    .products__item
                      img(src="images/pic1.png", alt="")
                    i.icon-plus
                    .products__item
                      img(src="images/pic2.png", alt="")
                  .section-calculate__text
                    p При покупке комплекта духовки и<br />варочной панели <b>Electrolux</b>
            .row
              .col-md-4
                h5.how-it-work__title До 40 000 руб. включительно
                .how-it-work__text  Приз = 5 000 руб.
              .col-md-4
                h5.how-it-work__title от 40 001 до 80 000 руб.
                .how-it-work__text Приз = 8 000 руб.
              .col-md-4
                h5.how-it-work__title более либо равно 80 001 руб.
                .how-it-work__text Приз = 10 000 руб.
          .how-it-work__item
            .row
              .col-xs-12
                .section-calculate__item
                  .section-calculate__products.products
                    .products__item
                      img(src="images/pic3.png", alt="" )
                  .section-calculate__text
                    p При покупке посудомоечной<br />машины <b>Electrolux</b>
            .row
              .col-md-4
                h5.how-it-work__title До 40 000 руб. включительно
                .how-it-work__text  Приз = 3 000 руб.
              .col-md-4
                h5.how-it-work__title от 40 001 до 80 000 руб.
                .how-it-work__text Приз = 6 000 руб.
              .col-md-4
                h5.how-it-work__title более либо равно 80 001 руб.
                .how-it-work__text Приз = 9 000 руб.
  .modal.popup.fade(data-backdrop="false" id="regModalInfo" tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      .modal-content.text-center
        .modal-body
          h3(style="margin: 20px 0; font-weight: 600;")
  .modal.fade#regModal
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") Назад
          .modal-logo
            img(src="images/logo.svg", alt="")
          h3.modal-title.text-center Изменение данных
        .modal-body
          form#regForm(action="cab.html")
            .input-set.input-set--animated-label
              label.input-set__label Фамилия
              input(type="text" name="name" placeholder="Фамилия" required)
            .input-set.input-set--animated-label
              label.input-set__label Имя
              input(type="text" name="surname" placeholder="Имя" required)
            .input-set.input-set--animated-label
              label.input-set__label Отчество
              input(type="text" name="patronymic" placeholder="Отчество" required)
            .input-set.input-set--animated-label
              label.input-set__label Дата дня рождения
              .input-date
                input#date.input(type="text" name="birthday" placeholder="Дата дня рождения" required)
              .helper ДД.ММ.ГГГГ
            .input-set.input-set--animated-label
              label.input-set__label Откуда Вы узнали об акции?
              select.chosen-select#where(name="where" data-placeholder="Откуда Вы узнали об акции?" required)
                  option
                  option(value="1") Друзья
                  option(value="2") Реклама в интернете
                  option(value="3") Реклама в магазине
            .input-set.input-set--animated-label
              label.input-set__label E-mail
              input#email(type="text" name="email" placeholder="E-mail" required)
            .input-set.input-set--animated-label
              label.input-set__label Пароль
              input#password(type="password" name="password" placeholder="Пароль" required)
            .input-set.input-set--animated-label
              label.input-set__label ИНН
              input#ident(type="text" name="ident" placeholder="ИНН" required)
            .input-set.input-set--animated-label
              label.input-set__label Серия номер паспорта
              input#passNum(type="text" name="passNum" minlength="10" maxlength="10" placeholder="Серия номер паспорта" required)
            .input-set.input-set--animated-label
              label.input-set__label Код подразделения
              input#divCode(type="text" name="divCode" placeholder="Код подразделения" required)
            .input-set.input-set--animated-label
              label.input-set__label Кем выдан
              input(type="text" name="passOne" placeholder="Кем выдан" required)
            .input-set.input-set--animated-label
              label.input-set__label Когда выдан
              .input-date
                input#passTwo(type="text" name="passTwo" placeholder="Когда выдан" required)
              .helper ДД.ММ.ГГГГ
            .input-set.input-set--animated-label
              label.input-set__label Адрес по прописке
              textarea(name="", cols="30", rows="2" placeholder="Адрес по прописке")
            .input-set.input-set--animated-label
              label.input-set__label Почтовый индекс
              input#zipCode(type="text" name="zipCode" minlength="6" maxlength="6" placeholder="Почтовый индекс" required)
            .input-set.input-set--animated-label
              label.input-set__label Населенный пункт
              input#city(type="text" name="city" placeholder="Населенный пункт" required)
            .input-set.input-set--animated-label
              label.input-set__label Улица
              input#street(type="text" name="street" placeholder="Улица" required)
            .input-set.input-set--animated-label
              label.input-set__label Дом
              input#building(type="text" name="building" placeholder="Дом")
            .input-set.input-set--animated-label
              label.input-set__label Корпус
              input#corpus(type="text" placeholder="Корпус")
            .input-set.input-set--animated-label
              label.input-set__label Квартира
              input#flat(type="text" name="flat" placeholder="Квартира" required)
            .input-set.input-set--animated-label
              label.input-set__label Номер телефона
              input#phone(type="text" name="phone" placeholder="+7 (000) 000-00-00" required)
            .input-set.input-set--animated-label
              label.input-set__label Название магазина
              select.chosen-select.model(name="store" data-placeholder="Название магазина" required)
                  option
                  option(val="1") М.Видео 
                  option(val="2") Эльдорадо 
                  option(val="3") ММС 
                  option(val="4") Техносила 
                  option(val="5") Стильные кухни 
                  option(val="6") Салон Техноторг 
                  option(val="7") Мороз и кофе 
                  option(val="8") Амадеус 
                  option(val="9") Памира 
                  option(val="10") electrolux-rus/кухнисити 
                  option(val="11") Хофф 
                  option(val="12") Кухнисити 
                  option(val="13") Архиформ 
                  option(val="14") Холодильник 
                  option(val="15") Electrolux-shop.ru 
                  option(val="16") 003.RU 
                  option(val="17") Реванш 
                  option(val="18") Домотехника 
                  option(val="19") ТК "Дружба" 
                  option(val="20") Поиск 
                  option(val="21") Центр 
                  option(val="22") RBT.RU 
                  option(val="23") 5 Элемент 
                  option(val="24") Норд 
                  option(val="25") Домо 
                  option(val="26") ТЕХНО 
                  option(val="27") Юлмарт 
                  option(val="28") Baltmaximus 
                  option(val="29") Технопарк 
                  option(val="30") Техпорт 
                  option(val="31") Citilink.ru 
                  option(val="32") Astrade 
                  option(val="33") RayBT.ru 
                  option(val="34") Hedway 
                  option(val="35") ДНС 
                  option(val="36") ДНС 
                  option(val="37") ДНС 
                  option(val="38") Мебельная Фабрика Мария 
                  option(val="39") Кухонный Двор
                  option(value="0") Другое
              input.model-input.store(type="text" placeholder="Название магазина" style="display: none;" data-init="false")
            .input-set.input-set--animated-label
              label.input-set__label Город покупки
              input#cityTwo(type="text" name="cityTwo" placeholder="Город покупки" required)
            .input-set.input-set--animated-label
              label#storeAddress.input-set__label Адрес магазина
              input(type="text" name="storeAddress" placeholder="Адрес магазина" required)
            .input-set.input-set--animated-label
              label.input-set__label Модель варочной поверхности
              select.chosen-select#modelOne.model(name="modelOne" data-placeholder="Модель варочной поверхности")
                  option
                  option(value="") Нет
                  option(value="1") EHD96740FK
                  option(value="2") EHD98740FK
                  option(value="3") EHH56340FK
                  option(value="4") EHH6340FOK
                  option(value="5") GPE363RBK
                  option(value="6") GPE363RBV
                  option(value="7") IPE644RBC
                  option(value="8") CPE644RBC
                  option(value="9") CPE644RCC
                  option(value="10") IPE644RCC
                  option(value="0") Другое
              input.model-input.modelOne(type="text" placeholder="Название модели" style="display: none;" data-init="false")
            .input-set.input-set--animated-label
              label.input-set__label Цена варочной поверхности
              input#priceOne(type="text" name="priceOne" placeholder="Цена варочной поверхности")
              .helper (Стоимость со скидкой)
            .input-set.input-set--animated-label
              label.input-set__label Модель духового шкафа
              select.chosen-select#modelTwo.model(name="modelTwo" data-placeholder="Модель духового шкафа")
                  option
                  option(value="") Нет
                  option(value="1") OPEB2650R
                  option(value="2") OPEB2650C
                  option(value="3") OPEB2650B
                  option(value="4") OPEB2650V
                  option(value="5") EOB53434AX
                  option(value="6") OPEB6641X
                  option(value="7") EOB98851AX
                  option(value="8") OPEB9951Z
                  option(value="9") EZB52410AX
                  option(value="10") EOA95551BX
                  option(value="0") Другое
              input.model-input.modelTwo(type="text" placeholder="Название модели" style="display: none;" data-init="false")
            .input-set.input-set--animated-label
              label.input-set__label Цена духового шкафа
              input#priceTwo(type="text" name="priceTwo" placeholder="Цена духового шкафа")
              .helper (Стоимость со скидкой)
            .input-set.input-set--animated-label
              label.input-set__label Модель посудомоечной машины
              select.chosen-select#modelThree.model(name="modelThree" data-placeholder="Модель посудомоечной машины")
                  option
                  option(value="") Нет
                  option(value="1") ESL94200LO
                  option(value="2") ESL94201LO
                  option(value="3") ESL94300LA
                  option(value="4") ESL9450LO
                  option(value="5") ESL95201LO
                  option(value="6") ESF9420LOW
                  option(value="7") ESF9421LOW
                  option(value="8") ESF9451LOW
                  option(value="9") ESF9450LOW
                  option(value="10") ESF9450LOX
                  option(value="0") Другое
              input.model-input.modelThree(type="text" placeholder="Название модели" style="display: none;" data-init="false")
            .input-set.input-set--animated-label
              label.input-set__label Цена посудомоечной машины
              input#priceThree(type="text" name="priceThree" placeholder="Цена посудомоечной машины")
              .helper (Стоимость со скидкой)
            .input-set.input-set--animated-label
              label.input-set__label Товар куплен в кредит?
              select#credit.chosen-select(name="credit" data-placeholder="Товар куплен в кредит?" required)
                  option
                  option(value="1") Да
                  option(value="0") Нет
            .input-set
              .file
                input#check(name="check" type="file" accept="image/jpeg,image/png" multiple required)
                label(for="check") Скан-копия чека
              .helper.file-name
            .input-set
              .file
                input#photo1(name="photo1" type="file" accept="image/jpeg,image/png" multiple required)
                label(for="photo1") Фото товара без упаковки в домашней обстановке
              .helper.file-name
              .helper Допустимые форматы для загрузки: *.jpg, *.png
            .input-set.input-set--animated-label
              label.input-set__label Серийный номер варочной поверхности
              input#serialNumOne.serialNumber(type="text" name="serialNumOne" placeholder="Серийный номер варочной поверхности")
            .input-set.input-set--animated-label
              label.input-set__label Серийный номер духового шкафа
              input#serialNumTwo.serialNumber(type="text" name="serialNumTwo" placeholder="Серийный номер духового шкафа")
            .input-set.input-set--animated-label
              label.input-set__label Серийный номер посудомоечной машины
              input#serialNumThree.serialNumber(type="text" name="serialNumThree" placeholder="Серийный номер посудомоечной машины")
            .input-set
              .file
                input#photo2(name="photo2" type="file" accept="image/jpeg,image/png" data-depend="serialNumOne")
                label(for="photo2") Фото серийного номера варочной поверхности
              .helper.file-name
              .helper (обозначается на корпусе техники)
              .helper Допустимые форматы для загрузки: *.jpg, *.png
            .input-set
              .file
                input#photo3(name="photo3" type="file" accept="image/jpeg,image/png" data-depend="serialNumTwo")
                label(for="photo3") Фото серийного номера духового шкафа 
              .helper.file-name
              .helper (обозначается на корпусе техники)
              .helper Допустимые форматы для загрузки: *.jpg, *.png
            .input-set
              .file
                input#photo4(name="photo4" type="file" accept="image/jpeg,image/png" data-depend="serialNumThree")
                label(for="photo4") Фото серийного номера посудомоечной машины
              .helper.file-name
              .helper (обозначается на корпусе техники)
              .helper Допустимые форматы для загрузки: *.jpg, *.png
            .input-set#photo6-input(style="display: none;")
              .file
                input#photo6(name="photo6" type="file" accept="image/jpeg,image/png")
                label(for="photo6") Скан кредитного договора
              .helper.file-name
              .helper (Заполняется при условии покупки в кредит)
              .helper Допустимые форматы для загрузки: *.jpg, *.png
            .input-set.input-set--animated-label
              label.input-set__label Способ получения приза
              select.chosen-select#method(name="method" data-placeholder="Способ получения приза" required)
                  option
                  option(value="1") Банковская карта
                  option(value="2") Кошелек Яндекс.деньги
                  option(value="3") Мобильный телефон
            .input-set.method(style="display: none;")
              label.input-set__label Номер карты банка
              input(type="text" name="cardNum" minlength="16" maxlength="18" placeholder="Номер карты банка")
            .input-set
              input.button(type="submit" value="Сохранить")
              #error.text-center
        .modal-footer

block scripts
  script.