footer.footer
    .footer__contacts
      .container-fixed.row
        .col-md-4
            .footer__phone +7 800 333-16-34
            p С понедельника по пятницу с 10:00 до 19:00<br />по московскому времени.
        .col-md-4
          .footer__email cb-el@emg.ru
          p Мы ответим на все письма в течение 2-x рабочих дней.
        .col-md-4
          .footer__social Мы в соц. сетях
          .footer__socials.socials
            a.socials__item(target="_blank" href="https://www.facebook.com/ElectroluxUkraine/")
              i.icon-facebook
            a.socials__item(target="_blank" href="https://vk.com/electroluxrussia")
              i.icon-vk
            a.socials__item(target="_blank" href="https://www.instagram.com/electrolux_russia/")
              i.icon-instagram
            a.socials__item(target="_blank" href="https://www.youtube.com/playlist?list=PL6CKfy753rHxtzSc3coYunNbrjrHuvUN5")
              i.icon-youtube
    .footer__links
      .container-fixed.row
        .col-xs-12
          ul
            li
              a(href="Pravila_Electrolux_Cash_Back.pdf" target="_blank") Правила акции
            li
              a( href="https://money.yandex.ru/pay/doc.xml?offerid=default" target="_blank") Оферта